//===========================================
	// -Helper Classes start
//===========================================

.text-center{
	text-align: center;
}
.bold {
	font-weight: bold;
}
.active{
	color: red !important;
}
//===========================================
	// -Helper Classes end
//===========================================
