//===========================================
	// -Footer start
//===========================================

//contact
.contact-info{
	background: $lightest-grey;
	padding: 3%;
	.contact-div{
		border-right: 2px solid $light;
		padding: 50px 30px;
		float: left;
		@include mq('xl', max){
			border: none;
		}
	}
	.ct-heading{
		color:$blackish;
		font-size: rem(16);
	}
	.ct-details{
		color: $blackish;
		font-size: rem(16);
		width: rem(400);
	}
	.address,.phone,.email{
		color:$blackish;
		font-size: rem(16);
	}
	span{
		color:$pomo-red;
		font-size: rem(16);
	}
	input{
		width: 260px;
		padding: 12px;
		margin: 0;
		margin-bottom: 35px;
	}
	i{
		padding: 8px;
	}
	.icons{
		font-size: rem(25);
	}
	.icons i:hover{
		color: $pomo-red;
		cursor: pointer;
	}
	@include mq('lg',max){
		padding: 0%;
		.address,.phone,.email{
			margin-top: rem(5);
			font-size: rem(25);
		}
		input{
			padding: 15px;
			margin-top: rem(15);
			margin-bottom: 15px;
		}
		.icons{
			margin-top: rem(45);
		}
		.ct-details{
			font-size: rem(25);
		}
		.ct-heading{
			font-size: rem(25);
		}
	}
}


// Client

.client-info-container{
	float: left;
	padding: 20px;

	.client-nformation{
		display: inline-block;
		border-bottom: 2px solid $light;
		padding: 20px;
	}
	.ct-heading{
		color:$blackish;
		font-size: rem(16);
	}
	.cl-logo{
		background: $black;
		border-radius: 100%;
		height: rem(100);
		width: rem(100);
		display: inline-block;
		vertical-align: middle;
	
	}
	.cl-comment{
		font-size: rem(16);
		color: $blackish;
		width: rem(400);
		display: inline-block;
		margin-top: 10px;
		vertical-align: middle;
		padding: 20px;
		padding-bottom: 30px;
	}
	.about-information{
		.buy-infomation,.my-account,.infomation{
			float: left;
			padding: rem(40);
			text-align: left;
			margin-bottom: 0px;
		}
		h2{
			font-size: rem(18);
		}
		.buy-info-p{
			color: $black;
			font-size: rem(16);
		}
		.buy-info-p:hover{
			color:$pomo-red;
			cursor: pointer;
		}
	}
}

// Footer

.footer{
	background: #212121;
	.footer-p{
		color:$grey-shade;
		font-size:rem(16);
		margin: 0px;
		padding: 20px;
	}
	.copyright{
		float: left;
	}
	span{
		color:$pomo-red;
		font-size: rem(16);
	}
	.sponsor{
		float: right;
		padding: 15px;
		font-size: rem(40);
		color: $white;
	}
	i{
		padding: 10px;
	}
}

@include mq('md', max){
	.contact-div{
		text-align: left;
		border:none;
	}
	.address,.phone,.email{
		display: inline-block;
		margin: 0 auto;
		text-align: left;
	}
}
//===========================================
	// -Footer end
//===========================================
